@import url('reset.css');


$blue:#00ADA5;
$yellow:#D9E021;
$aqua:#80e6c8;
$darkBlue:#0b7b78;
$hukidasiMargin:1.5rem;

body{
    user-select: none;
}

body,
#vm{
    width: 100%;
}

body{
    background-image: url(../images/background.gif);
    background-repeat: repeat;
}



#hello{
    max-width: 650px;
    margin: 0 auto;
    header{
        background-image: url(../images/heroimg.jpg);
        background-size: cover;
        background-position: center center;
        min-height: 100vh;
        position: relative;
        h1{

        }
        button{
            position: absolute;
            bottom: 10%;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            padding: 1em 0;
            font-size: 2em;
            background-color: orange;
            border: none;
            color: white;
            box-shadow: red 5px 5px 0px;
        }
    }

    footer{
        background-color: #00af9e;
        color: white;
        padding: 0.8em 0;
        text-align: center;
    }
    
}

#ques{
    
    header{
        background-color: $blue;
        color: white;
        text-align: center;
        font-size: 3em;
        padding: .7em 0;
    }

    main{
        max-width: 650px;
        margin: 0 auto;
        //Talks
        #intoroTalk,
        #answerTalk{
            line-height: 1.5;
            font-size: 1.3em;
            .talk,
            .img{
                display: flex;
                &[data-who=kotori]{
                    flex-direction: row;
                    padding-left:5%; 
                }
                &[data-who=narration]{
                    flex-direction: row-reverse;
                    padding-right:5%; 
                }
                >p,
                >div{
                    background-color: white;
                    display: inline-block;
                    padding: 1em;
                    max-width: 70%;
                    &[data-who=kotori]{
                        border-left: 10px solid $blue;
                    }
                    &[data-who=narration]{
                        border-right: 10px solid $yellow;
                    }
                }
                &:not(:last-child){
                    margin: $hukidasiMargin 0;
                }
            }
           
        }
        #choice{
            display: flex;
            flex-direction: row-reverse;
            li{
                display: block;
                background-color: $blue;
                color: white;
                padding: 1em;
                font-size: 1.3em;
                line-height: 1.5;
                min-width: 50vw; //TODO:PCの場合はpx指定にする
                cursor: pointer;
            }
            li:not(:last-child){
                margin: $hukidasiMargin*0.5 0;
            }
            #choiceMargin{
                height: 40vh;
            }
        }
        #description{
            background-color: $aqua;
            width: 90%;
            box-sizing: border-box;
            margin: $hukidasiMargin auto;
            p{
                width: 90%;
                padding: 1em;
                font-size: 1.2em;
                line-height: 1.5;
            }
        }
    }
}